*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    font-family: Arial, Helvetica, sans-serif;
}
.navigation  {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(13, 156, 125);
    width: 100%;
    z-index: 100;
}

.navigation-main  {
    display: flex;
    justify-content: flex-end;
    padding: 30px;

}

.navigation-main__link  {
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-right: 5%;
}

.main-header  {
    position: relative;
    min-height: 50vh;
    background: linear-gradient(166deg, rgba(0,0,0,1) 0%, rgba(10,35,66,1) 46%, rgba(255,90,95,1) 81%);
    margin-top: 94px; 
}
.button__css  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 20%;
    border: solid white 3px;
    text-transform: uppercase;
    padding: 16px;
    color: white;
    transition: .3s;
    cursor: pointer;
}
.button__css:hover {
    background-color: #c1d320;
    color: black;
}
.main-header__my-name  {
    position: absolute;
    left: 5%;
    top: 10%;
    color: white;
    text-transform: uppercase;
}
.main-header__my-photo  {
    position: absolute;
    top: 30%;
    left: 5%;
    width:250px;
    height: 250px;
    border-radius: 25% 30% 10% 40%;
    z-index: 99;
}

.main-header__desription  {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-size: 20px;
}

.section-wraper  {
    max-width: 1200px;
    margin: 32px auto;
}

.about__title  {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}
.about__description  {
    margin: 32px 0;
    padding: 0 16px;
    line-height: 20px;
}
.about__galery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    
}
.about__image  {
    width: 250px;
    height: 250px;
    border: 3px solid rgb(13, 156, 125);
}

.about__image--description  {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.developer-article  {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.developer-article__title  {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    padding: 16px;
    background-color: rgb(13, 156, 125);
    color: white;
    text-transform: uppercase;
}

.developer-article__description  {
    margin: 32px 0;
    padding: 0 16px;
    line-height: 16px;
}
.developer-article__flex {
    display: flex;
    justify-content: center;
}
.developer-article__description--list  {
    padding:10px 0;
}

.developer-article__photo {
    margin-left: 5%;
    width: 250px;
    height: 250px;
    padding-bottom: 40px;
}

.mainfooter  {
    text-align: center;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 3%;
}


/*nauka grida*/
body  {
    background-color: rgb(91, 236, 224);
}
.grid-main  {
    margin-top: 100px;
}
.learning-grid  {
    display: grid;
    grid-template-areas: "header header"
    "article aside"
    "footer footer";
    grid-template-rows: 1fr 200px;
    grid-row-gap: 16px;
}

.learning-grid__header  {
    grid-area: header;
    height: 50vh;
    background-image: url(./images/GRID.jpg);
    background-size: cover;
    background-position: center;
}

.learning-grid__article  {
    grid-area: article;
    padding: 16px;
}

.learning-grid__author  {
    grid-area: aside;
    padding: 16px;
}

.learning-grid__footer  {
    grid-area: footer;
}

/* ENGLISH-JOURNAL*/
.english-journal__main  {
    min-height: 200vh;
    background: linear-gradient(166deg, rgba(0,0,0,1) 0%, rgba(10,35,66,1) 46%, rgba(255,90,95,1) 81%);
}
.konrad-journal  {
    margin-top: 94px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.konrad-journal__page  {
    margin-top: 32px;
    background-image: url(./images/paper_1287838970.jpg);
    width: 400px;
    height: 700px;
    border-radius: 5%;
    
}

.konrad-journal__page--text  {
    padding: 30px;
}



/*spanish words*/
body  {
    height: 200vh;
}
.spanish-flag__colors  {
    position: relative;
}

.spanish-flag__symbols  {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spanish-flag  {
    margin-top: 94px;
}

.spanish-flag__red  {
    height: 20vh;
    width: 100%;
    background-color:rgba(247, 12, 12, 0.8);
}

.spanish-flag__yellow  {
    height: 25vh;
    width: 100%;
    background-color: rgb(251, 255, 17);
}


/* for fun with java-script*/

.for-fun__java  {
    background-color: rgb(226, 89, 165);
}
.for-fun__java--header  {
    text-align: center;
    font-size: 32px;
    color: white;
    padding: 10px;
}

.for-fun__java--description  {
    width: 70vw;
    margin: 24px 0;
    color: white;
}

.for-fun__java--article  {
    display: flex;
justify-content: space-around;
}

.for-fun__java--aside  {
    color:white;
    border: 3px white solid;
    padding: 10px;
    margin-bottom: 10px;
}