*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    font-family: Arial, Helvetica, sans-serif;
}
.navigation  {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(13, 156, 125);
    width: 100%;
    z-index: 100;
}

.navigation-main  {
    padding: 30px;
}

.navigation-main__link  {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    margin-left: 40px;
}

.main-header  {
    position: relative;
    min-height: 50vh;
    background: linear-gradient(166deg, rgba(0,0,0,1) 0%, rgba(10,35,66,1) 46%, rgba(255,90,95,1) 81%);
    margin-top: 94px; 
}
.main-header__my-name  {
    position: absolute;
    left: 5%;
    top: 10%;
    color: white;
    text-transform: uppercase;
}
.main-header__my-photo  {
    position: absolute;
    top: 30%;
    left: 5%;
    width:250px;
    height: 250px;
    border-radius: 25% 30% 10% 40%;
}

.main-header__desription  {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-size: 20px;
}

.section-wraper  {
    max-width: 1200px;
    margin: 32px auto;
}